@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

body{
  background-color: hsl(225, 100%, 94%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay{
  position: relative;
}


#cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  width: 35%;
  border-radius: 8px;
  position: absolute;
  top: 15%;
  padding: 0px, 20px, 25px 20px;
  width: 350px;
}

.hero{
  border-radius: 8px 8px 0% 0%;
  max-width: 100%;
  height: auto;
  
}

.responsive{
  height: auto;
  max-width: 100%;
}

p {
  text-align: center;
  padding: 15px;
}

.displayColumn{
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.purchase{
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(228, 100%, 96%);
  width: 275px;
  height: 60px;
  padding: 7px 3px;
  margin-bottom: 20px;
}

.musicIcon{
  margin-left: 15px;
  margin-right: 15px;
}
.pushLeft{
  margin-left: -80px;
}

.purchaseInfo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.changeButton{
  padding-right: 10px
}

.paymentButton{
  background-color: hsl(245, 75%, 52%);
  color:hsl(228, 100%, 96%);
  border: solid hsl(223, 47%, 23%) 1px;
}

.cancelButton{
  margin: 6px 0px;
}

.cancelButton, .paymentButton{
  width: 275px;
  text-align: center;
  padding: 8px 0px;
  border-radius: 5px;
}